<!-- THIS FILE SHOULD BE IN A SEPARATE FOLDER TO BE APPLIED AFTER ALL PATCHES IN APP_CONFIG\INCLUDE FOLDER -->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ImagesRoot" value="{61BBE5BB-9AE9-426F-A717-1B4ADF1C5798}"/>
      <setting name="PersonsRoot" value="{087C88DD-9AE9-4102-9441-E6A4F8A533FC}"/>
      <setting name="Cognitive.Key1" value="ea53de27952747eb8dee4e06f18f01b1"/>
      <setting name="Cognitive.Key2" value="712d59379455453aa272fc6e70625bae"/>
      <setting name="Cognitive.Name" value="CognitiveTest"/>
      <setting name="Cognitive.Url" value="https://eastus2.api.cognitive.microsoft.com/face/v1.0"/>
      <setting name="ItemNameValidation" value="^.*$"/>
    </settings>
    <commands>
      <command name="face:train" type="SharedSource.FaceRecognition.Commands.Train, SharedSource.FaceRecognition"/>
      <command name="face:getstatus" type="SharedSource.FaceRecognition.Commands.GetTrainStatus, SharedSource.FaceRecognition"/>
      <command name="face:rebuilddefinitions" type="SharedSource.FaceRecognition.Commands.RebuildPersonGroup, SharedSource.FaceRecognition"/>
    </commands>
    <events>
      <event name="item:saving">
        <handler patch:before="*[@type='Sitecore.Tasks.ItemEventHandler, Sitecore.Kernel']" 
                 type="SharedSource.FaceRecognition.Pipelines.ItemPersonSaved,SharedSource.FaceRecognition" method="ItemSaved"/>
      </event>
      <event name="item:created">
        <handler patch:before="*[@type='Sitecore.Tasks.ItemEventHandler, Sitecore.Kernel']"
                 type="SharedSource.FaceRecognition.Pipelines.ItemPersonSaved,SharedSource.FaceRecognition" method="ItemSaved"/>
      </event>
    </events>
    <pipelines>
      <detectFaces>
        <processor type="SharedSource.FaceRecognition.Pipelines.DetectFaces,SharedSource.FaceRecognition"/>
      </detectFaces>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
         type="SharedSource.FaceRecognition.Pipelines.RegisterHttpRoutes,SharedSource.FaceRecognition" />
      </initialize>
      <renderField>
        <processor patch:instead="*[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']" 
                   type="SharedSource.FaceRecognition.Pipelines.GetTaggedImageFieldValue, SharedSource.FaceRecognition" />
      </renderField>
    </pipelines>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="face_master_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/cognitiveSearchConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="SharedSource.FaceRecognition.Search.FaceDatabaseCrawler, SharedSource.FaceRecognition">
                <Database>master</Database>
                <Root>/sitecore/media library</Root>
              </crawler>
            </locations>
          </index>
          <index id="face_web_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/cognitiveSearchConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync"/>
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="SharedSource.FaceRecognition.Search.FaceDatabaseCrawler, SharedSource.FaceRecognition">
                <Database>web</Database>
                <Root>/sitecore/media library</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
      <indexConfigurations>
        <cognitiveSearchConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <indexAllFields>false</indexAllFields>
            <fields hint="raw:AddComputedIndexField">
              <!-- primary media fields that require web service calls -->
              <field fieldName="faces">SharedSource.FaceRecognition.Search.FacePositionIndexableField,SharedSource.FaceRecognition</field>
              <field fieldName="persons">SharedSource.FaceRecognition.Search.PersonsIndexableField,SharedSource.FaceRecognition</field>
              <field fieldName="facetagid">SharedSource.FaceRecognition.Search.FaceTagIdIndexableField,SharedSource.FaceRecognition</field>
              <field fieldName="identified">SharedSource.FaceRecognition.Search.IdentifiedIndexableField,SharedSource.FaceRecognition</field>
            </fields>
          </documentOptions>
          <initializeOnAdd>true</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="_uniqueid"            storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="faces"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="software" storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="facetagid"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Guid[]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="persons"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String[]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
          <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders"/>
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter"/>
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper"/>
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/documentBuilderType"/>
        </cognitiveSearchConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
